[Unit]
Description=Meemoo Library Monitor service
After=network.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s
User=miker
WorkingDirectory=/home/miker/library-monitoring/
ExecStart=/home/miker/library-monitoring/start.sh

[Install]
WantedBy=multi-user.target
